* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    justify-content: space-around;
    align-items: center;
    background-color: rgb(248, 249, 250);
}
header a {
    text-decoration: none;
    
    /* border: 1px solid black; */
}
header nav {
    width: 450px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
header nav a {
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110%;
} 
header nav a:hover {
    width: 160px;
    height: 46px;
    border: 1px solid  rgb(125, 174, 217);
    background-color: rgb(125, 174, 217);
    color: white;
    border-radius: 30px;
    font-size: 150%;
}  
header i {
    width: 50px;
    height: 36px;
    height: 30px;
    font-size: 120%;
}
header div {
    display: flex;
    align-items: center;
    justify-content: center;
}
header div a {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.icono1 {
    color: grey;
}
.icono1:hover {
    width: 50px;
    height: 50px;
    background-color: rgb(125, 174, 217);
    border-radius: 20px;
    border: 5px solid rgb(125, 174, 217) ;
}
.icono2 {
    color: grey;
}
.icono2:hover {
    width: 50px;
    height: 50px;
    background-color: rgb(125, 174, 217);
    border-radius: 30px;
    border: 5px solid rgb(125, 174, 217);
}
.icono2 span {
    font-size: 30%;
    /* display: none; */
    color: grey;
    position: relative;
    top: -8px;
    left: -8px;
    
}
.icono2 span:hover {
    /* font-size: 31%; */
    /* display: block; */
    color: red;
}
.img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.img:hover {
    border: 4px solid rgb(125, 174, 217);
} 


/* section {
    display: flex;
    width: 100%;
    height: 80px;
    
    justify-content: space-around;
    align-items: center;
    background-color: rgb(33, 37, 41);
    margin-top: 100px;
}
section nav {
    position: relative;
    left: -100px;
}
.navbar2 {
    
    font-size: 110%;
    text-decoration: none;
    color: grey;

}
.navbar2:hover {
    color: rgb(239,53,214);
    font-size: 90%;
}
section nav {
    width: 450px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.formBuscar {
    display: flex;
    align-items: center;
}
input {
    
    width: 200px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    border: 0;
    font-size: 110%;
    text-align: left;
    align-items: center;
    padding-left: 15px;
    padding-top: 5px; 
    color: gray;
}
input:focus {
    border: 4px solid rgb(35, 110, 176);
    outline: none;
}
.navbar3 {
    font-size: 120%;
    margin-left: 5px;
    text-decoration: none;
    color: grey;
}
.navbar3:hover {
    color: rgb(206, 206, 34);
} */